{% extends 'base.html' %}
{% block title %}Payment Success{% endblock %}
{% block content %}
{% load course_tags %}
{% load static %}
<div class="container py-8 py-lg-11">
    <div class="row">
        <div class="col-xl-8 mx-xl-auto">
            <img src="{% static 'assets/img/success.png' %}" width="80px" class="img-fluid mx-auto d-block">
            <header class="entry-header mt-4">
                <h1 class="entry-title text-center">Order received</h1>
                <p class="text-center">Thank you.Your order has been received</p>
            </header>
            <div class="row border border-info p-4">
                <div class="col-lg-3">
                    Order ID:<br>
                    <strong>{{payment.order_id}}</strong>
                </div>
                <div class="col-lg-3">
                    Date:<br>
                    <strong>{{payment.date}}</strong>
                </div>
                <div class="col-lg-3">
                    Total:<br>
                    <strong>₹ {{payment.course.price}}</strong>
                </div>
                <div class="col-lg-3">
                    Payment method:<br>
                    <strong>Check payment</strong>
                </div>
            </div>
            <br>
            <div class="row p-4 border border-dark">

            </div>
        </div>
    </div>
</div>